body{
    margin: 0px 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    background-color: grey;
}
.body{
    margin: 0px 300px;
}

.nav{
    background-color: midnightblue;
    color: white;
    position: fixed;
    display: block;
    width: 100%;
    z-index: 99;
}
.item-nav{
    display: inline-block;
    margin: 10px 10px 0px 10px;
    text-decoration: none;
}



.item-nav>a{
    text-decoration: none;
    color: white;
}
.item-nav>a:hover{
    color: darkgray;
    font-size: larger;
}
.icon-nav{
    margin: 5px;
}

.foto{

    position: absolute;
    top: 60px;
    left: 83%;
    height:30%;
    width: 15%;
    border-radius: 85%;
}
.title{
    margin-top: 0;
    font-size:70px;
    
}

.subtitulo{
    text-align: center;
    background-color: midnightblue;
    border-radius:10px ;
    color: white;
    margin: 10px 0px;
    padding: 10px 0px;
    cursor: pointer;
}

.subtitulo:hover{
    background-color:darkblue;
    color:dimgray;
}

.contenedor{
    display: none;

    padding: 5px;
}
 #contacto{
    text-align: center;
    font-size: 2em;
 }

 .btn{
    width: 100%;
    margin-bottom: 10px;
 }

 .btn>a{
   text-decoration: none;
   color: black;
   font-size: 1rem;
   background-color:limegreen;
   padding: 10px;
   border-radius: 10px;
 }

 .btn>a:hover{
    font-size: 1.5rem;
    background-color:springgreen;
 }

/*.btn{
    width:100%;
    background-color: midnightBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

.btn:hover{
    background-color: RoyalBlue;
  }
*/
 footer{
    background-color: midnightblue;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
    height: 50%;
 }
@media (max-width:1200px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .body{
        margin: 0;
        padding: 0;
    }
    .foto{
        display: none;
    }

    .title{
        text-align: center;
    }

    }
